html, body {
    margin: 0px;
    padding: 0px;
    background-color: #e9e9e9;

}

.banner {
        background-image: url("images/spectrum.jpg");
        height: 200px;
        width: 100%;
        border: 1px solid black;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
}

.circle_icon {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 6px solid black;
    background-image: url("images/headshot.jpg");
    background-size: cover;
    margin: 20px auto;
    opacity: 1;
}

.circle_icon:hover {
   border: 6px solid white;
}

.nav_bar {
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;

}

.button {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    height: 50px;
    flex-grow: 1;
    min-width: 25%;
    text-align: center;
}

.button:hover {
    color: white;
    background-color: #5cb2bb;
}

.label {
    font-family: Georgia;
    font-size: large;
    margin: 15px auto

}



.content {
    text-align: center;
    margin: 0px 30px


}
.about {
    text-align: justify;
    max-width: 35%;
    margin: auto;
    font-family: Bahnschrift;
    border-bottom: 1px solid grey;
}
.content > h1 {
    font-family: "Arial Black" ;
}

.project_list {
    margin: 30px auto;
}

.project_item {
    height: 30px;
    width: 10%;
    border: 2px solid black;
    margin: 25px auto;
    background-color: #ffd672de;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    padding: 10px 5px 0px 5px;
    min-width: fit-content;
    display: inline-block;
}

.project_item:hover {
    background-color: black;
    color: #ffd672de;
}

.project_content {
    border-bottom: 1px solid grey;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    font-family: Helvetica;

}

.project_content > h1 {

}

.project_content > p {
    margin: 0 auto;
    max-width: 36%;
    text-align: justify;
    font-family: SansSerif;
}

.app_interface {
    background-color: white;
    text-align: center;
}

.button_container {
    margin: 20px auto;
}
.app_interface a {
    height: 30px;
    width: 10%;
    border: 2px solid black;
    margin: 25px auto 20px auto;
    background-color: #ffcd7e;
    font-family: Serif;
    text-align: center;
    font-weight: bold;
    padding: 10px 5px 10px 5px;
    min-width: fit-content;
    text-decoration: none;
    color: #170b0c;
}

#button_container div{
    margin: 5px auto;
    text-align: center;
}

.res_content {
    text-align: center;
    display: inline-block;
    font-family: Helvetica;
    width: 100%;
}

.res_content p, h2 {
    margin: 1px auto;
    max-width: 70%;
}

.res_content h1 {

}


#objective {
    text-align: justify;
    margin: 0 10%;
}

#experience {
    text-align: justify;
    margin: 0 10%;
}
#lang {
    flex-grow: 1;
    display: block;
    margin-left: 15%;
    text-align: center;

}

#lang_inner {
    margin: 10%;
    text-align: left;
}
#tools_inner {
    margin: 10%;
    text-align: left;
}

#tools {
    flex-grow: 1;
    margin-right: 15%;
    text-align: left;

}

#skills {
    display: flex;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
}

#skills h4 {
    text-align: center;
}

#course_work {
    text-align: left;
    margin: 0 10%;
}

#course_work h5 {
    text-align: center;
    margin: auto;
}

.empty_page {
    margin: 20%;
}

.empty_page h1{
    font-family: Verdana;

}

.photo_item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 70%;
    max-width: 90%;
    max-height: 60%;
    overflow: hidden;
    border: 1px solid black;
    margin: 10% auto 5% auto;

}

.photo_container p {
    font-family: Georgia;
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
    border: 1px solid black;
    background-color: #dedede;
    height: 35px;
    padding: 10px 5px 0px 5px;


}

.photo_item img {
    flex-shrink: 0;
    max-width: 100%;
    max-height: 100%;
}

.photo_list {
    margin: 10% auto;
}